*.o
*.dSYM
*.csv
*.out
*.png
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet
.fuse*
*.weights

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
/darknet19_448.conv.23
/predictions.jpg
/bad.list
/nbproject/private/launcher.properties